.fondoF {
  background: #ffe000;
  background: -webkit-linear-gradient(
    to right,
    #799f0c,
    #ffe000
  );
  background: linear-gradient(
    to right,
    #799f0c,
    #ffe000
  );
}
