.Encabezado {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 55%;
  background: #14c01dbc; /* fallback for old browsers */
  box-shadow: 0 0 5px 0;
  border-radius: 0 0 5px 5px;

  display: flex;
}

h2 {
  margin: 0.7rem 3rem 0.7rem 3rem;
  color: white;
}

/* .transparent-bottom {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
} */
