.Encabezado {
  background: #14c01dbc; /* fallback for old browsers */
  box-shadow: 0 0 5px 0;
  /* border-radius: 0 0 5px 5px; */
  display: flex;
  width: 100%;
  max-height: 24rem;
  overflow: hidden;

  /* justify-content: space-between; */
}

.Titulo {
  margin: 0.7rem 3rem 0.7rem 3rem;
  /* font-size: xx-large; */
  color: white;
  background: none;
  border: none;
}

.Titulo:hover {
  color: black;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white;
  transition: color 1s, text-shadow 1s;
}


/* make a class for the logo to be the size of the header height */
.Logo {
  /* //make the logo height to fit inside the header */
  height: 90%;
  width: auto;
}

@media screen and (max-width:1010px){
  .Rm{
    display: none;
  }
}

@media screen and (max-width: 1074px) {
  .Rm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  #menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s;
  }
}

@media screen and (min-width: 1075px) {
  .Rm {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    
  }
  #menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
  }
  #DivHamb{
    visibility: hidden;
    display: none;
  }
}

/* #Header{
  top: anchor(bottom);
  right: anchor(100%);
} */