/* make the background color of the logo a bit darker */

/* .colibri {
  height: 50vh;
} */

/* make a class that makes it's text brigter */

.brighter {
  text-shadow: 0 0 15px white;
  transition: color 1s, text-shadow 1s;
}
